body {
    font-family: 'Open Sans', Helvetica, arial, freesans, clean, sans-serif;	
}
.create-edit-form.ng-hide-remove{
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -ms-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
}
.create-edit-form.ng-hide-add{
}
.delteArea{
    background: #fff;
    width : 360px;
    margin-top: 80px;
    margin: 0 auto;
    text-align: center;
}

.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
}
$linkColor: #3498db;
$linkHoverColor: #e74c3c;
.bread-crumb-container{padding: 12px 0;}
.bread-crumb-container span{
    color: $linkColor;
    padding : 6px;
    display: inline-block;
    cursor: pointer;
    position : relative;
    margin-right: 16px;
    &:hover{
        color : $linkHoverColor;
    }
    i{
        padding-right: 0.5em;
        position: absolute;
        top: 8px;
        right: -22px;
    }
    &.activeLink{
        color : $linkHoverColor;
    }
}
.bar-actions{
    padding : 12px 0;
    font-size : 2.4em;
    span{
        cursor: pointer;
        color: $linkColor;
        padding: 6px 12px;
        float: right;
        text-shadow: 0px 1px 1px #4d4d4d;
        &:hover{
            color : $linkHoverColor;
        }
    }
}
.plus-icon{
    position: relative;
    z-index: 1;
}
.add-area{
    position: absolute;
    font-size: 16px;
    left: -46%;
    color: $linkColor;
    text-shadow: none;
    border: 1px solid #3498db;
    margin-top: 10px;
    background: #fff;
    width: 107px;
    &::before{
        content: '';
        width: 0px;
        height: 0px;
        border: 12px solid transparent;
        border-bottom-color: blue;
        position: absolute;
        top: -25px;
        left: 37%;
    }
    &::after{ 
        content: '';
        width: 0px;
        height: 0px;
        border: 12px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        top: -24px;
        left: 37%;
    }
    &.ng-hide-remove{
        -webkit-animation: fadeInDown 0.5s;
        -moz-animation: fadeInDown 0.5s;
        -ms-animation: fadeInDown 0.5s;
        animation: fadeInDown 0.5s;
    }
    span{
        float: left;
        cursor: pointer;
        text-shadow: none;
        font-weight: bold;
    }
}
.create-edit-form{
    textarea{
        position : relative;
        height: 100px;
        border: none;
        outline: none;
        font-size: 1.1em;   
        width: 100%;
    }
}
.editArea{
    border: 1px solid #33B5E5;
    padding: 4px;
    box-sizing: border-box;
}
.form-save-area{
    text-align: center;
    padding : 8px 0;
    button{
        width: 100px;
        margin: 0 5px;
    }
}
.subject-list{
    list-style: none;
    padding: 8px 0;
}
.selected{
    background: aqua;
}
.delete-form{
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
}
.deleteArea{
    background: #fff;
    width : 360px;
    margin-top: 80px;
    margin: 0 auto;
    text-align: center;
}
.subject-list{
    color: #555;
    padding: 0 !important;
    width: 500px;
    position : relative;
    &::before{
        content: ''; 
        position: absolute;
        height: 100%;
        width: 3px;
        border-left: 1px solid #ffaa9f;
        border-right: 1px solid #ffaa9f;
        left : 30px
    }
    p{
        list-style: none;
        border-bottom: 1px dotted #ccc;
        text-indent: 40px;
        height: auto;
        padding: 14px 0 0 25px;
        margin: 0;
        position : relative;
        &:hover{
            background-color: #f0f0f0;
            -webkit-transition: all 0.2s;
            -moz-transition:    all 0.2s;
            -ms-transition:     all 0.2s;
            -o-transition:      all 0.2s;
        }
        &:before{
            content: "\f178";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            /*--adjust as necessary--*/
            color: $linkColor;
            font-size: 18px;
            padding-right: 0.5em;
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
}
.show-more{
    position : relative;
    padding:  0 10px;
    cursor : pointer;
    font-size : 14px;
    color: $linkColor;
    &:hover{
        color: $linkHoverColor;
    }
    &::after{
        content: "\f101";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: $linkColor;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        right: -12px;
    }
}