<div>
    <div class="delete-dialog" ng-show="deleteDialogDisp" >
        <div class="small-6 columns delete-confirm" ng-click="deleteCtg()">Delete
        </div>
        <div class="small-6 columns delete-cancel" ng-click="cancelDeleteCtg()">Cancel
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <span class="logout-btn" ng-click="logout()">&nbsp;</span>
            <p class="titleBar">{{headerTitle}}</p>
        </div>
        <div class="small-12 columns">
            <p ng-show="appMessageDisp" 
               ng-class="{'app-message-error' : appMessageErr, 
                          'app-message-success' : appMessageSuccess}">{{appMessage}}</p>
        </div>
    </div>
    <div class="row" ng-show="ctgDisp">
        <div class="row">
            <div class="small-3 columns">
            </div>
            <div class="small-9 columns add-cateogry">
                <button ng-disabled="actionAddDisabled" ng-click="addCategoryDialog()">Add a new category</button>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-12 columns">
                <input type="text" placeholder="Search..." ng-model="search" class="search-ctg topcoat-text-input" 
                       maxlength="15">
            </div>            
        </div>
        <div class="row">
            <ul class="categories-list">
                <li ng-repeat="category in categories| filter:search"
                    ng-class="{'delete-row-highlight': deleteIndex === $index}">
                    <div class="small-12 large-12 columns" ng-click="displayQuotes($index)">
                        <div class="ctg-text-container">
                            <span class="ctg-name">{{category.name}}</span>
                            <span class="ctg-desc">{{category.description}}</span>
                        </div>
                        <span class="next-show"></span>
                    </div>
                    <div class="small-12 columns edits">
                        <span ng-click="likeCategory($index)" 
                              ng-disabled="actionAddDisabled"
                              ng-class="{'like' : category.liked, 'liked' : !category.liked}">
                            {{category.liked ? 'Unlike' : 'Like'}}
                        </span>
                        <span class="likes-count">{{category.likes}}</span>
                        <span ng-show="category.editable">
                            <span ng-disabled="actions[$index].disabled" class="edit-option" 
                                  ng-click="editCategory($index)">Edit</span>
                            <span ng-disabled="actions[$index].disabled" class="delete-option" 
                                  ng-click="deleteCategoryDialog($index)">Delete</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row form-edit" ng-show="editCtgDisp">
        <form name="editForm" autocomplete="off" class="edit-form small-12 columns"
              novalidate>
            <input 
                ng-class="{'invalid-input' : editForm.name.$invalid && !editForm.name.$pristine,
                        'valid-input' : editForm.name.$valid && editForm.name.$dirty}"
                ng-minlength="5" ng-maxlength="25"
                type="text" placeholder="Category name" ng-model="editModel.name" 
                name="name" maxlength="25" required 
                class="topcoat-text-input"/>
            <p ng-show="editForm.name.$invalid && !editForm.name.$pristine" 
               class="err-msg">
                {{CTG_NAME_LENGTH_ERR}}
            </p>
            <textarea 
                ng-class="{'invalid-input' : editForm.description.$invalid && !editForm.description.$pristine,
                        'valid-input' : editForm.description.$valid && editForm.description.$dirty}"
                name="description" ng-model="editModel.description" placeholder="Category Description" 
                class="topcoat-textarea edit-desc" rows="4" maxlength="300" min-chars></textarea>
            <p ng-show="editForm.description.$invalid && !editForm.description.$pristine" 
               class="err-msg">
                {{CTG_DESC_LENGTH_ERR}}
            </p>
            <div class="row edits editCtgBtns">
                <div class="small-6 columns">
                    <button ng-disabled="!editForm.$valid || editForm.$pristine" class="stdBtn save-option" 
                            ng-click="updateCategory(editModel)">Update</button>
                </div>
                <div class="small-6 columns">
                    <button ng-disabled="actions[$index].disabled" class="stdBtn cancel-option" 
                            ng-click="cancelCategoryEdit()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row form-edit" ng-show="createCtgDisp">
        <form name="createForm" autocomplete="off" class="create-form small-12 columns"
              novalidate>
            <input 
                ng-class="{'invalid-input' : createForm.name.$invalid && !createForm.name.$pristine,
                        'valid-input' : createForm.name.$valid && createForm.name.$dirty}"
                ng-minlength="5" ng-maxlength="25"
                type="text" placeholder="Category name" ng-model="createModel.name" 
                name="name" maxlength="25" required 
                class="topcoat-text-input"/>
            <p ng-show="editForm.createForm.$invalid && !createForm.name.$pristine" 
               class="err-msg">
                {{CTG_NAME_LENGTH_ERR}}
            </p>
            <textarea 
                ng-class="{'invalid-input' : createForm.description.$invalid && !createForm.description.$pristine,
                        'valid-input' : createForm.description.$valid && createForm.description.$dirty}"
                name="description" ng-model="createModel.description" placeholder="Category Description"
                class="topcoat-textarea edit-desc" rows="4" maxlength="300" min-chars></textarea>
            <p ng-show="createForm.description.$invalid && !createForm.description.$pristine" 
               class="err-msg">
                {{CTG_DESC_LENGTH_ERR}}
            </p>
            <div class="row edits editCtgBtns">
                <div class="small-6 columns">
                    <button ng-disabled="!createForm.$valid || createForm.$pristine" class="stdBtn save-option" 
                            ng-click="createCategory(createModel)">Create</button>
                </div>
                <div class="small-6 columns">
                    <button class="stdBtn cancel-option" 
                            ng-click="cancelCategoryCreate()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
