<div class="create-edit-form" ng-show="showCreateEdit">
    <div class="form-box">
        <label>{{editInputName}}</label>
        <textarea placeholder="Enter Text.." ng-model="editTextValue"></textarea>
        <div class="image-thumbnail"></div>
        <div class="dropHere"></div>
        <div class="upload-div">
            <div ng-show="dropSupported" class="drop-box" 
                 ng-file-drop="onFileSelect($files);" 
                 ng-file-drop-available="dropSupported=true">Drop images here
                </br>or</br>
                <div class="file-input-wrapper">
                    <button class="btn-file-input">Select Image</button>
                    <input id="upfile" type="file" ng-file-select="onFileSelect($files)" 
                           onclick="this.value = null" class="upload-btn" name="file">
                </div>
                <div ng-show="selectedFiles != null" class="sel-file" ng-repeat="f in selectedFiles">
                    <div class="progress" ng-show="progress[$index] >= 0">						
                        <div style="width:{{progress[$index]}}%">&nbsp;</div>
                    </div>				
                </div>
            </div>
            <img ng-show="dataUrl" ng-src="{{dataUrl}}" class="uploaded-img">
            <div ng-show="!dropSupported">
                HTML5 Drop File is not supported on this browser
            </div>
            <!--<input id="add-sub" type="text" placeholder="Add Subject" ng-model="editableValue">-->
        </div>
        <button ng-click="showCreateEdit = !showCreateEdit">Cancel</button>
        <button ng-show="showCreateBtn" ng-click="create()">Create</button>
        <button ng-show="!showCreateBtn" ng-click="update()">Update</button>
    </div>
</div>
<div class="create-edit-form" ng-show="deleteForm">
    <div class="delteArea">
        <p>Are you sure you want to delete?</p>
        <button ng-click="deleteForm = !deleteForm">Cancel</button>
        <button ng-click="deleteSelection()">Delete</button>
    </div>
</div>
<div class="button-area">
    <button ng-show="showAddNote" ng-click="showFormCreateEdit('Note')">Add Note</button>
    <button ng-show="showAddTopic" ng-click="showFormCreateEdit('Topic')">Add Topic</button>
    <button ng-show="showAddSubTopic" ng-click="showFormCreateEdit('Subtopic')">Add Subtopic</button>
    <button ng-show="showEdit" ng-click="showFormCreateEdit('Edit')">Edit</button>
    <button ng-show="showDelete" ng-click="deleteForm = !deleteForm">Delete</button>
</div>
<div class="note-container">
    <div ng-click="makeSelection(['subject'])" class="subject-name row">{{subjectName}}</div>
    <div class="row note subjectNote" ng-repeat="note in noteData.notes"
         ng-click="makeSelection(['subjectNote', $index, false])">
        <i class="fa fa-chevron-right small-1 columns"></i>
        <div class="note-image small-3 columns">
            <div class="cnd-img" ng-if="note.img_name">
                <img src="v0.1/data/1/images/{{note.img_name}}" alt="Note Image">
            </div>
        </div>
        <div class="note-text small-8 columns">{{note.text}}</div>
    </div>

    <div class="topic" ng-repeat="topicObj in noteData.topics" 
         ng-init="topicIndex = $index">

        <div class="topicElement row"  ng-click="makeSelection(['topicElement', topicIndex])">
            <i class="fa fa-bookmark small-1 columns"></i>
            <div class="cnd-img small-3 columns" ng-if="topicObj.topic.img_name">
                <img src="v0.1/data/1/images/{{topicObj.topic.img_name}}"  alt="Topic Image">
            </div>
            <div class="small-8 columns">{{topicObj.topic.text}}</div>
        </div>

        <div class="note topicNote row" ng-repeat="topicNote in topicObj.notes"
             ng-click="makeSelection(['topicNote', topicIndex, $index])">
            <i class="fa fa-chevron-right small-1 columns"></i>
            <div class="cnd-img small-3 columns" ng-if="topicNote.img_name">
                <img src="v0.1/data/1/images/{{topicNote.img_name}}" alt="Note Image">
            </div>
            <div class="small-8 columns">{{topicNote.text}}</div>
        </div>

        <div class="subtopic" ng-repeat="subtopicObj in topicObj.subtopics"
             ng-init="subtopicIndex = $index">
            <div class="subtopicElement row" 
                 ng-click="makeSelection(['subtopicElement', topicIndex, subtopicIndex])">
                <i class="fa fa-tag small-1 columns"></i>
                <div class="cnd-img small-3 columns" ng-if="subtopicObj.subtopic.img_name">
                    <img src="v0.1/data/1/images/{{subtopicObj.subtopic.img_name}}" 
                         alt="subtopic Image">
                </div>
                <div class="small-8 columns">{{subtopicObj.subtopic.text}}</div>
            </div>

            <div class="note subtopicNote row" ng-repeat="subtopictopicNote in subtopicObj.notes"
                 ng-click="makeSelection(['subtopicNote', topicIndex, subtopicIndex, $index])">
                <i class="fa fa-chevron-right small-1 columns"></i>
                <div class="cnd-img small-3 columns" ng-if="subtopictopicNote.img_name">
                    <img src="v0.1/data/1/images/{{subtopictopicNote.img_name}}"
                         alt="Note Image">
                </div>
                <div class="small-8 columns">{{subtopictopicNote.text}}</div>
            </div>
        </div>
    </div>
</div>