<div class="row logout-control">
    <div class="row">
        <div class="large-12 columns">
            <span class="login-btn" ng-click="loginRedirect()">&nbsp;</span>
            <p class="titleBar">{{headerTitle}}</p>
        </div>
        <div class="small-12 columns">
            <p class="app-message-success">{{LOGOUT_MESSAGE}}</p>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">
            <div class="bigQuote">{{singleQuote}}</div>
            <div class="quoteAuthorBigQuote">{{singleQuoteAuthor}}</div>
        </div>
        <div class="large-4 columns">
            <p class="loginBtnRegForm">
                Please login
                <a class="stdBtn" href="#login">Login</a>
            </p>
        </div>
    </div>
</div>