<div class="upload-div">
    <div ng-show="dropSupported" class="drop-box" 
         ng-file-drop="onFileSelect($files);" 
         ng-file-drop-available="dropSupported=true">Drop images here
        </br>or</br>
        <div class="file-input-wrapper">
            <button class="btn-file-input">Select Image</button>
            <input id="upfile" type="file" ng-file-select="onFileSelect($files)" 
                   onclick="this.value = null" class="upload-btn" name="file">
        </div>
        <div ng-show="selectedFiles != null" class="sel-file" ng-repeat="f in selectedFiles">
            <div class="progress" ng-show="progress[$index] >= 0">						
                <div style="width:{{progress[$index]}}%">&nbsp;</div>
            </div>				
        </div>
    </div>
    <img ng-show="dataUrl" ng-src="{{dataUrl}}" class="uploaded-img">
    <div ng-show="!dropSupported">
        HTML5 Drop File is not supported on this browser
    </div>
</div>
<input id="add-sub" type="text" placeholder="Add Subject" ng-model="newSubject">
<button ng-click="addSubject(newSubject)">Add Subject</button>
<ul>
    <li ng-repeat="subject in subjects">
        <div class="sub-input">
            <input  disabled="disabled" ng-model="subject.name" ng-change="change($index)"></div>
        <button ng-show="!inputChanged[$index]" ng-click="makeEditable($index)">Edit</button>
        <button ng-show="inputChanged[$index]" ng-click="updateSubject($index)">Save</button>
        <button ng-click="deleteSubject($index)">Delete</button>
        <button ng-click="showNotes($index)">Show Notes</button>
    </li>
</ul>